:root {
  --color-moderate-violet: #7541c8;
  --color-very-dark-gray-blue: #48556a;
  --color-very-dark-blackish-blue: #19212e;
  --color-white: white;
  --color-light-gray: #cfcfcf;
  --color-light-graysh-blue: #ecf2f8;
}

*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 4rem 1.5rem;
  background-color: var(--color-light-graysh-blue);
  display: grid;
  place-content: center;
}

.testimonials__wrapper {
  min-height: 80vh;
  max-width: 100rem;
  display: grid;
  place-content: center;
  gap: 2rem;
}

/******    FONTS     ********/
.testimonial__profile--name {
  font-size: 0.8125rem;
}

.testimonial__profile--heading {
  margin-top: 1rem;
  font-size: 1.538rem;
  font-weight: 500;
}

.testimonial__profile--quote {
  margin-top: 1rem;
  font-size: 0.8125rem;
  opacity: 0.7;
  line-height: 1.5;
}

.testimonial__profile--title {
  font-size: 0.846rem;
  opacity: 0.5;
}

/******    CARDS     ********/
.testimonial__card {
  padding: 1.5rem 2rem;
  color: var(--color-white);
  border-radius: 10px;
  box-shadow: 1rem 3rem 3rem rgba(72, 85, 106, 0.1);
}

.card--one {
  background-color: var(--color-moderate-violet);
  position: relative;
  z-index: 10;
}

.card--one::before {
  content: url(/images/bg-pattern-quotation.svg);
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: -1;
}

.card--two {
  background-color: var(--color-very-dark-gray-blue);
}

.card--three,
.card--five {
  background-color: var(--color-white);
  color: var(--color-very-dark-gray-blue);
}

.card--three h3,
.card--five h3 {
  color: var(--color-very-dark-gray-blue);
}

.card--four {
  background-color: var(--color-very-dark-blackish-blue);
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__profile--img {
  border-radius: 50%;
  margin-right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
}

.card--one img,
.card--four img {
  border: 2px solid rgba(198, 163, 255, 0.384);
}

.card--two img {
  border: 2px solid #7e7f81;
}

@media screen and (min-width: 600px) {
  .testimonials__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .card--one,
  .card--four,
  .card--five {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 5rem;
  }
  .testimonials__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .card--four {
    grid-column: 2 / span 2;
  }
  .card--five {
    grid-column: 1 / span 3;
  }
}

@media screen and (min-width: 1200px) {
  .testimonials__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(2, max-content);
  }
  .card--two {
    grid-column: 3;
  }
  .card--three {
    grid-column: 1;
  }
  .card--four {
    grid-column: 2 / span 2;
  }
  .card--five {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
  .card--one::before {
    right: 10rem;
  }
}
